<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/easytutionbdicon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/easytutionbdicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.LoginActivity" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.SignUpctivity" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.SignUpUpload" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.AfterLogIn" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.ShowStudents" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.EditProfilePage" />
        <activity android:name="com.stsoftwaresolution.shahajalal.bottomnavigationdrawer.RecoverPasswordActivity"></activity>
    </application>

</manifest>